{% set content %}

    <h1>Heading 1</h1>
    <div class="welcome">
        <p>Casper is a simple, blank slate plugin created by <a href="https://craftpl.us/" target="_blank">Crafpl.us</a> for Craft CMS that allows you to quickly get started with plugin development.</p>
        <h2>Checkout out plugins, tutorials and videos at <a href="https://craftpl.us/" target="_blank">Crafpl.us</a></h2>
    </div>
    {% include "casper/uservoice.html" %}

{% endset %}

{% extends "casper/_layout" %}

{% set title = "Casper Dashboard" %}

{% set selectedTab = 'dashboard' %}