{% set content %}

    <h1>Casper Dashboard</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta blandit porta. Aenean faucibus, neque ut accumsan porttitor, augue elit congue risus, nec pretium lorem urna quis turpis. Ut eu tristique mi. Phasellus pharetra ornare semper. Fusce tincidunt felis lectus, in tincidunt tortor lobortis non.</p>

{% endset %}

{% extends "casper/_layout" %}

{% set title = "Casper Dashboard<small>Created by <a href='http://craftpl.us'>Craftpl.us</a></small>" %}

{% set selectedTab = 'dashboard' %}