{% set content %}

    <h1>Casper Settings Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta blandit porta. Aenean faucibus, neque ut accumsan porttitor, augue elit congue risus, nec pretium lorem urna quis turpis. Ut eu tristique mi. Phasellus pharetra ornare semper. Fusce tincidunt felis lectus, in tincidunt tortor lobortis non.</p>

{% endset %}

{% extends "_layouts/cp" %}

{% set title = "Casper Settings<small>Created by <a href='http://taechogroup.com'>The Taecho Group</a></small>" %}
{% includeCssResource "casper/styles.css" %}
{% includeJsResource "casper/script.js" %}

{% set tabs = {
    dashboard:     { label: "Dashboard"|t, url: url('casper/') },
    settings:   { label: "Settings"|t, url: url('casper/settings') },
} %}

{% set selectedTab = 'settings' %}